doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		block title
			title UpQode
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/main.css")
		

	body
		//- block header
		block content
		//- block footer
		script(src="js/lib.min.js")
		script(src="js/scripts.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEeAfFMXv2P-PV2bj0kF-o5Tb3AHC01rg")
