mixin products()
	section#products
		.title
			h1 
				|our 
				span products
			.overlay_prod
		.prod_wrapper
			.prod_container
				.prod_grid
					.prod_item
						.prod_img
							img(src="./images/prod_1.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_2.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_3.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_4.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_5.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_6.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
				.prod_grid
					.prod_item
						.prod_img
							img(src="./images/prod_1.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_2.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_3.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_4.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_5.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_6.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
				.prod_grid
					.prod_item
						.prod_img
							img(src="./images/prod_1.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_2.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_3.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_4.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_5.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
					.prod_item
						.prod_img
							img(src="./images/prod_6.png", alt="")
						.prod_description
							h2 title
							span Best Product
							p Duis bibendum diam non erat facilaisis en ter 
			.prod_dots
				span(onclick='prod_slider(event)' value="0").selected 
				span(onclick='prod_slider(event)' value="1") 
				span(onclick='prod_slider(event)' value="2") 



