mixin about()
	section#about
		.skills_wrap
			.skills
				.title
					h1 
						span about 
						| us
					p Quisque fermentum, nisl mattis volutpat rhoncus, tellus est congue nibh, ut euism Nullam at scelerisque tellus mattis volutpat rhoncus, 
				p Nullam at scelerisque tellus. Nulla feugiat iaculis ante, non tincidunt ligula scelerisque a. Vestibulum accumsan tincidunt odio vel finibus. Phasellus vestibulum lobortis ligula ut volutpat. Maecenas vitae nibh vel purus mollis semper. Nullam tempus feugiat mi id semper. Pellentesque ac posuere augue, vitae mollis enim. Etiam et ullamcorper dolor, a hendrerit quam. 
				ul#skill
					li
						span.bar.ps
						.skill_info
							h3 photoshop
							h3 79%
					li
						span.bar.css
						.skill_info
							h3 Html/Css
							h3 90%
					li
						span.bar.js
						.skill_info
							h3 javascript
							h3 69%
					li
						span.bar.wp
						.skill_info
							h3 Wordpress
							h3 92%
		.mockup
			img(src="./images/ipadmockup.png", alt="")
