@font-face 
	font-family: 'Beyno';
	src:  url('../fonts/beyno/beyno.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;

@font-face 
	font-family: 'Lato Bold';
	src:  url('../fonts/Lato/Lato-Bold.ttf') format('truetype');

@font-face 
	font-family: 'Lato Regular';
	src:  url('../fonts/Lato/Lato-Regular.ttf') format('truetype');

@font-face 
	font-family: 'Lato Light';
	src:  url('../fonts/Lato/Lato-Light.ttf') format('truetype');

@font-face 
	font-family: 'Lato Heavy';
	src:  url('../fonts/Lato/Lato-Heavy.ttf') format('truetype');

