mixin banner()
	section#banner
		.slideshow-container
			figure.fade
				img(src="./images/img_ban.jpg", alt="")
				.overlay
				figerecaption 
					h1 
						|Creative 
						span Design Agency
					p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
			figure.fade
				img(src="./images/img_ban.jpg", alt="")
				.overlay
				figerecaption 
					h1 
						|Creative 
						span Design Agency
					p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
			figure.fade
				img(src="./images/img_ban.jpg", alt="")
				.overlay
				figerecaption 
					h1 
						|Creative 
						span Design Agency
					p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
			span.prev(onclick='plusSlides(-1)').arrow
			span.next(onclick='plusSlides(1)').arrow
			.dot_wrap
				span.dot(onclick='currentSlide(1)')
				span.dot(onclick='currentSlide(2)')
				span.dot(onclick='currentSlide(3)')
		//- a(onclick="plusSlides(-1)").next.arrow
		//- a(onclick="plusSlides(1)").prev.arrow
		//- .dots
		//- 	span(onclick='currentSlide(1)' )
		//- 	span(onclick='currentSlide(2)' )
		//- 	span(onclick='currentSlide(3)' )
		//- figure.slider
		//- 	figure 
		//- 		img(src="./images/img_ban.jpg", alt="")
		//- 		.overlay
		//- 		figerecaption 
		//- 			h1 
		//- 				|Creative 
		//- 				span Design Agency
		//- 			p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
		//- 	figure 
		//- 		img(src="./images/img_ban.jpg", alt="")
		//- 		.overlay
		//- 		figerecaption 
		//- 			h1 
		//- 				|Creative 
		//- 				span Design Agency
		//- 			p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
		//- 	figure 
		//- 		img(src="./images/img_ban.jpg", alt="")
		//- 		.overlay
		//- 		figerecaption 
		//- 			h1 
		//- 				|Creative 
		//- 				span Design Agency
		//- 			p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 







